@import "tailwindcss";

/* Font Family - Nueue Haas Display */

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayXThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 50;
  font-style: normal;
}

/* Font Family - Nohemi */
@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Colors */

@theme {

  --color-white: #FFFFFF;
  --color-black: #2B2B2B;

  --color-primary: #FFE500;
  --color-primary-light: #FAFFC1;
  --color-info: #1EBCFF;
  --color-info-dark: #0E375D;
  --color-brown-dark: #442904;
  --color-green: #0ABF8F;
  --color-green-dark: #012D26;

  /* 16px */
  --text-base: 1rem;
  /* 16px */
  --text-base-2x: 2rem;
  /* 12px */
  --text-sm: 0.75rem;
  /* 18px */
  --text-lg: 1.125rem;
  /* 22px */
  --text-xl: 1.375rem;
  /* 24px */
  --text-2xl: 1.5rem;
  /* 26px */
  --text-3xl: 1.625rem;
  /* 28px */
  --text-4xl: 1.75rem;
  /* 36px */
  --text-5xl: 2.25rem;

  /* 160px */
  --text-h1: 10rem;
  /* 152px */
  --text-h2: 9.5rem;
  /* 80px */
  --text-h3: 5rem;
  /* 66px */
  --text-h4: 4.125rem;
  /* 48px */
  --text-h5: 3rem;

  --font-nohemi: 'Nohemi';
  --font-nueue: 'NeueHaasDisplay';

}

*,
*::after,
*::before {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}


html {
  font-family: 'NeueHaasDisplay', serif;
  font-weight: 400;
  font-size: 10px;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  line-height: 1.0 !important;
  letter-spacing: 0.1ch;
}

p {
  line-height: 1.1;
}


@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-rotate 10s linear infinite !important;
  /* Adjust duration as needed */
}

:root {
  font-size: 10px;
  /* Default for laptops */
}

/* Big screens (e.g., desktops, large monitors) */
@media (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}