@import "tailwindcss";

/* Font Family - Nueue Haas Display */

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayXThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/neue/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 50;
  font-style: normal;
}

/* Font Family - Nohemi */
@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/nohemi/Nohemi-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Colors */

@theme {

  --color-white: #FFFFFF;
  --color-black: #2B2B2B;

  --color-primary: #FFE500;
  --color-primary-light: #FAFFC1;
  --color-info: #1EBCFF;
  --color-info-primary: #008CFF;
  --color-info-dark: #0E375D;
  --color-brown-dark: #442904;
  --color-brown-light: #744D0F;
  --color-green-light: #D0FBE8;
  --color-green: #0ABF8F;
  --color-green-dark: #012D26;
  --color-green-dark-2: #007C62;
  --color-warning: #F85E0B;
  --color-warning-light: #FFF6ED;
  --color-warning-dark: #431007;

  --color-pink-light: #FFE2FB;
  --color-pink: #BB0076;
  --color-blue-light: #D6F5FF;
  --color-blue: #086AC5;
  --color-blue-2: #0D5B9B;

  /* 16px */
  /* --text-base: 1rem; */
  /* 16px */
  /* --text-base-2x: 2rem; */
  /* 12px */
  /* --text-sm: 0.75rem; */
  /* 18px */
  /* --text-lg: 1.125rem; */
  /* 22px */
  /* --text-xl: 1.375rem; */
  /* 24px */
  /* --text-2xl: 1.5rem; */
  /* 26px */
  /* --text-3xl: 1.625rem; */
  /* 28px */
  /* --text-4xl: 1.75rem; */
  /* 36px */
  /* --text-5xl: 2.25rem; */

  /* 160px */
  /* --text-h1: 10rem; */
  /* 152px */
  /* --text-h2: 9.5rem; */
  /* 80px */
  /* --text-h3: 5rem; */
  /* 66px */
  /* --text-h4: 4.125rem; */
  /* 48px */
  /* --text-h5: 3rem; */
  /* 36px */
  /* --text-h6: 2.25rem; */

  --font-nohemi: 'Nohemi';
  --font-nueue: 'NeueHaasDisplay';

}

*,
*::after,
*::before {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

q {
  @apply py-5
}

html {
  font-family: 'NeueHaasDisplay', serif;
  font-weight: 400;
  font-size: 10px;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  line-height: 1.1 !important;
  letter-spacing: 0.09em;
  cursor: default;
}

p {
  /* line-height: 1.2; */
}

.accordion-item {
  height: 0;
  transition: height 0.4s ease-in-out;
  interpolate-size: allow-keywords;
}

.accordion-item-active {
  height: auto;
}

@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-rotate 6s linear infinite !important;
  /* Adjust duration as needed */
}

:root {
  font-size: 12px;
  /* Default for laptops */
}

/* Typography */
.h1 {
  font-size: 10rem;
  @apply font-extrabold
}

.h2 {
  font-size: 9.5rem;
  @apply font-extrabold
}

.h3 {
  font-size: 5rem;
}

.h4 {
  font-size: 4.125rem;
}

.h5 {
  font-size: 3rem;
}

.h6 {
  font-size: 2.25rem;
}

.sm {
  font-size: 0.75rem;
}

.t-base {
  font-size: 1rem;
}

.t-base-2x {
  font-size: 2rem;
}

.t-lg {
  font-size: 1.125rem;
}

.t-xl {
  font-size: 1.375rem;
}

.t-2xl {
  font-size: 1.5rem;
}

.t-3xl {
  font-size: 1.625rem;
}

.t-4xl {
  font-size: 1.75rem;
}

.t-5xl {
  font-size: 2.25rem;
}



/* Big screens (e.g., desktops, large monitors) */
@media (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  .h1,
  .h2,
  .h3 {
    font-size: 3.5rem;
  }

  .h3,
  .h5 {
    font-size: 2.25rem;
  }

  .h5 {
    font-size: 1.375rem;
  }


  .t-base,
  .t-base-2x {
    font-size: 1rem;
  }

  .t-3xl,
  .t-2xl,
  .t-xl,
  .t-lg,
  .t-sm {
    font-size: 1rem;
  }

}


/* Carousel--start */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: red;
  /* Inactive color */
  opacity: 0.5;
  transition: all 0.3s ease;
}


.custom-bullet {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.479);
  @apply !bg-slate-400;
  @apply !h-5 !w-5 w-5 !cursor-pointer !rounded-full !transition-all !mr-4
}

/* Carousel--end */

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.703) !important;
  @apply !w-16;
  /* Active color */
  opacity: 1;
  /* transform: scale(1.3); */
}

.swiper-pagination {
  /* bottom: -0.5rem !important; */
  /* Adjust spacing */
}

.hero-button {}